* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0px 0px 15px pink;
}

#page-title {
    font-size: 40px;
}

#page-title, #page-description {
    margin-top: 5px;
    text-align: center;   
}

#page-description {
    margin-bottom: 10px;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: pink;
    color: white;
}

#organizador {
    order: 1;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid pink;
    padding: 50px;
    box-shadow: 0px 0px 16px pink;
    color: pink;
    font-weight: bold;
    text-shadow: 0px 0px 16px pink;
    margin-bottom: 20px;
}

#form-title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: pink;
    text-shadow: 0px 0px 16px pink;
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nav1 {
    display: flex;
    order: 2;
}

#nav1 a, #nav2 a {
    text-decoration: none;
    padding: 15px;
    color: pink;
    background-color: white;
    border-radius: 15%;
    box-shadow: 0px 0px 16px white;
    font-size: 20px;
    text-shadow: 0px 0px 16px pink;
}

#nav1 a:hover, #nav2 a:hover {
    text-decoration: none;
    padding: 15px;
    color: white;
    background-color: indianred;
    border-radius: 15%;
    box-shadow: 0px 0px 16px white;
    font-size: 20px;
    text-shadow: 0px 0px 16px pink;
}

#nav2 {
    display: flex;
    order: 0;
}

button {
    margin: 0px auto;
    margin-top: 50px;
    width: 70%;
    padding: 15px;
    font-size: 20px;
    background-color: pink;
    border: 1px solid white;
    border-radius: 15%;
    color: white;
    box-shadow: 0px 0px 16px pink;
    text-shadow: 0px 0px 16px white; 
}

button:hover {
    margin: 0px auto;
    margin-top: 50px;
    width: 70%;
    padding: 15px;
    font-size: 20px;
    background-color:indianred;
    border: 1px solid white;
    border-radius: 15%;
    color: white;
    box-shadow: 0px 0px 16px pink;
    text-shadow: 0px 0px 16px white; 
}

.divisor {
    height: 5px;
    width: 55%;
    margin: -10px auto 10px auto;
    background-color: pink;
    border-radius: 100%;
    margin-bottom: 25px;
}

form h1 {
    color: pink;
    align-self: center;
    margin-top: -20px;
    margin-bottom: 20px;
}