* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0px 0px 15px pink;
}

#page-title {
    font-size: 40px;
}

#page-title, #page-description {
    margin-top: 5px;   
}

#page-description {
    margin-bottom: 10px;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    color: white;
}

#cloth-picker-title-container, #cloth-picker-button-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#cloth-picker-title {
    color: pink;
}

#cloth-picker-button {
    background-color: pink;
    color: white;
    padding: 15px;
    border-radius: 12.5%;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 0px 16px pink;
    border: 1px solid pink;
    text-shadow: 0px 0px 16px white;
}

#cloth-picker-button:hover {
    background-color: indianred;
    color: white;
    padding: 15px;
    border-radius: 12.5%;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 0px 16px white;
}

#cloth-picker-chose {
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    flex-wrap: wrap;
}

#style-chosen {
    font-size: 30px;
    color: pink;
    font-style: italic;
}

#style-items-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

strong {
    font-size: 36px;
}

.divisor {
    height: 5px;
    width: 50%;
    margin: -10px auto 10px auto;
    background-color: pink;
    border-radius: 100%;
}

.style-items {
    width: 400px;
    height: 200px;
    border: 1px solid pink;
    border-radius: 5%;
    box-shadow: 0px 0px 16px pink;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.style-items img {
    width: 105px;
    padding: 0px auto;
}

.style-items p {
    color: pink;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
}